<div *ngIf="packages">
	<h2>{{ packages.length }} Packages</h2>
	<div *ngFor="let package of packages">
		<h3>
			<a [title]="package.name + ' details'" [routerLink]="['/packages', package.id]">
				{{ package.name }} ({{ package.kind }})
			</a>
		</h3>
		<p *ngIf="package.description">
			Description: {{ package.description }}
		</p>
		<app-package-alerts [package]="package" (notify)="onNotify()">
		</app-package-alerts>
	</div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->