<div *ngIf="applications">
  <h2>{{ applications.length }} applications <app-report-link>
    </app-report-link>
  </h2>
  <div class="main-grid">
    <div *ngFor="let application of applications" class="main-grid-item">
      <h3>
          {{ application.name }} ({{ application.kind }})
        <app-report-link [package]="application">
        </app-report-link>
      </h3>
      <p *ngIf="application.description">
        Description: {{ application.description }}
      </p>
    </div>
  </div>
</div>