<div *ngIf="packageVersion">
  <p>
    <a [title]="packageVersion.name + ' details'" [routerLink]="['/packages', packageVersion.id]">
      Back to {{packageName}}
    </a>
  </p>
  <h3>{{ packageName }} {{packageVersion.version}} Details</h3>
  <p>kind: {{packageVersion.kind}}</p>
  <p *ngIf="mvnGroup">group: <span>{{ mvnGroup }}</span></p>
  <p>type: {{packageVersion.type}}</p>
  <h4>
    dependencies:
  </h4>
  <div *ngIf="version">
    <div *ngFor="let dependency of version.dependencies">
      <p>
        <app-spaces [count]="dependency.depth"></app-spaces> {{dependency.name}} {{dependency.version}}
        ({{dependency.scope}})
      </p>
    </div>
  </div>
</div>