<div *ngIf="artefacts">
	<h2>{{artefacts.length}} Artefacts</h2>

	<div *ngFor="let artefact of artefacts">
		<h3>
			<app-artefact-links [artefact]="artefact">
			</app-artefact-links>
		</h3>
		<p *ngIf="artefact.description">
			<label>description: <span>{{ artefact.description }}</span></label>
		</p>
		<p *ngIf="artefact.comment">
			<label>comments: <span>{{ artefact.comment }}</span></label>
		</p>
		<p *ngIf="artefact.lastVersion">
			<label>Last major version: <span>{{ artefact.lastVersion }}</span></label>
		</p>
	</div>
</div>